<h1>New Landmark</h1>

<form action='/landmarks/new' method="POST">
Name: <input type="text" id="landmark_name" name="landmark[name]"><br>
Year Completed: <input type="number" id="landmark_year_completed" name="landmark[year_completed]"><br>
<input type="submit" value="Create New Landmark">
  
</form>